.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.logo img {
    width: 210px;
    height: 68px;
}

.nav {
    display: flex;
    gap: 57px;
}

.nav-link {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
}

.nav-link.active {
    text-decoration: underline;
}


@media screen and (max-width: 830px) {

    .header {
        margin-bottom: 20px;
    }

    .logo img {
        width: 145px;
        height: 46px;
    }

    .nav {
        gap: 26px;
    }

    .nav-link {
        font-size: 15px;
    }

}