.rating-container {
    font-size: 32px;
}

.fa-star {
    color: #FF6060;
}

.neutral-star {
    color: #E3E3E3;
}

@media screen and (max-width: 830px) {
    .rating-container {
        display: block;
    }
}