.error404 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.error404 h2 {
    font-size: 288px;
    text-align: center;
    margin: 139px;
    color: #FF6060;
    text-shadow: 10px 0px 0px #FF6060;
    letter-spacing: 20px;
}

.error404 p {

    font-size: 36px;
    text-align: center;
    margin: 0px;
    color: #FF6060;
}

.error404 a {
    font-size: 18px;
    font-weight: bold;
    margin: 139px;
    color: black;
}

@media screen and (max-width: 830px) {
    .error404 h2 {
        font-size: 96px;
        text-shadow: 5px 0px 0px #FF6060;
        letter-spacing: 20px;
    }

    .error404 p {
        font-size: 18px;
    }

    .error404 a {
        font-size: 14px;
        margin: 113px 0px;
    }
}